<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">


</head>
<body>
<img src="/banner/vp_banner_2024.png"alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
 <h1>Aleksandra </h1>
 

<p>See leht loodus õppetöö raames <a href= "https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

<p> loodan et kõik töötab <br>
webprogrameerimine äge asi <br>
Esimest korda teen seda

</p>
<hr>
<ul>
<li><a href="/">Avaleht</a></li>
</ul>
<hr>
<h2>Lisa uudis</h2>
<form method="POST">
<label for="titleInput">Uudise pealkiri: </label>
<br>
<input type="text" id="titleInput" name="titleInput" placeholder="Uudise pealkiri: ...">
<br>
<textarea id="newsInput" name="newsInput" placeholder="Uudise sisu ..." cols="100" rows="5"></textarea>
</br>
<label for="expireInput">Uudise aegumiskuupäev: </label>
<input type="date" id="expireInput" name="expireInput" value="<%= expDate %>">
<br>
<input type="submit" id="newsSubmit" name="newsSubmit" value="Salvesta">
</form>

</body>
</html>