<!DOCTYPE html>
<html lang="et">
<head>
<meta charset="UTF-8">


</head>
<body>
<img src="/banner/vp_banner_2024.png"alt="Veebiprogrameerimise 2024 aasta kursuse bänner">
 <h1>Aleksandra </h1>
 
<p>See leht loodus õppetöö raames <a href= "https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis</a> ja ei sisalda tõsiseltvõetavat sisu.</p>

<p> 2.septembrist moodunud <%= dateDifference %> päevad. </p>

<p> loodan et kõik töötab <br>
webprogrameerimine äge asi <br>
Esimest korda teen seda

</p>
<hr>
<
<ul>
<li><a href="/timenow">Ajainfo</a></li>
<li><a href="/vanasonad">Vanasõnad</a></li>
<li><a href="/regvisit">Registreeri oma külastus (txt põhine)</a></li>
<li><a href="/regvisitdb">Registreeri oma külastus</a></li>
<li><a href="/signup">Loo kasutajakonto</a></li>
<li><a href="/signin">Logi sisse</a></li>
  
</ul>

<h2>viimane uudis</h2>

<% if (news) { %>
    <h3>Pealkiri: <%= news.news_title %></h3>
	<p>Lisatud kuupäev: <%= news.news_date %></p>
    <p>Sisu: <%= news.news_text %></p>
<% } else { %>
    <p>Uudised pole</p>
<% } %>


</body>
</html>